.jumbotron {
    background-image:url("../images/naval_bacteria.jpg");
    text-align:center;
}

.jumbotron h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}